@use "./_variables.scss" as *;

//タブレット用メディアクエリ
@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

//PC用メディアクエリ
@mixin pc {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//pc用hover
@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

//コンテンツ幅
@mixin contents-width {
  padding: 0 2rem;

  @include tab {
    padding: 0 3rem;
  }

  @include pc {
    padding: 0;
    margin-inline: auto;
    width: 90%;
    max-width: 1200px;
  }
}

@mixin sub-title-style {
  text-align: center;
  font-weight: 700;
  font-size: clamp(22px, 2.2rem, 26px);
  letter-spacing: 0.1em;

  @include tab {
    font-size: clamp(26px, 2.6rem, 30px);
  }

  @include pc {
    font-size: clamp(30px, 4rem, 40px);
  }
}

@mixin input-text-style {
  border-width: 1px;
  border-style: solid;
  border-color: $brown-transparent;
  border-radius: 4px;
  padding: 0.65em;
  font-size: clamp(14px, 1.4rem, 15px);
  transition: border-color 0.3s ease-out;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border-color: $brown;
  }

  @include tab {
    font-size: clamp(15px, 1.5rem, 16px);
  }

  @include pc {
    font-size: clamp(15px, 1.6rem, 16px);
  }
}

@mixin button-style-fill($fill-color, $text-color) {
  cursor: pointer;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fill-color;
  border-radius: 100vmax;
  border: 1px solid $fill-color;
  color: $text-color;
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 15px);
  letter-spacing: 0.1em;
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out,
    opacity 0.3s ease-out;

  &.is-disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.33;
  }

  @include hover {
    color: $fill-color;
    background-color: transparent;
  }

  @include tab {
    height: 5.2rem;
    font-size: clamp(15px, 1.5rem, 16px);
  }

  @include pc {
    height: clamp(48px, 5.6rem, 56px);
    font-size: clamp(15px, 1.6rem, 16px);
  }
}

@mixin button-style-border($border-color) {
  @include button-style-fill(initial, $border-color);
  border: 1px solid $border-color;

  @include hover {
    color: $white-brown;
    background-color: $border-color;
  }
}

@mixin accordion-menu-style {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: clamp(16px, 1.6rem, 18px);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.55em;
    aspect-ratio: 1;
    border-bottom: 2px solid $brown;
    border-right: 2px solid $brown;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s ease-out;
  }

  &.is-opened-menu::before {
    transform: translateY(-50%) rotate(-135deg);
  }

  @include tab {
    font-size: clamp(18px, 1.8rem, 20px);
  }

  @include pc {
    font-size: clamp(18px, 2rem, 20px);

    &::before {
      display: none;
    }
  }
}
