$zen-maru-gothic: "Zen Maru Gothic", sans-serif;
$green: #56C38D;
$white: #fff;
$white-brown: #FFFCF7;
$black: #333;
$brown: #4A200C;
$brown-transparent: rgba(74, 32, 12, 0.33);
$orange: #f5ac3c;
$gray: #acacac;
$red: #FF6060;