@use "./_mixins.scss" as *;
@use "./_variables.scss" as *;
@use "./_custom-vue-datepicker";
@import "./reset.css";

html {
  font-size: calc(10vw * calc(100 / 375));

  @include tab {
    font-size: calc(10vw * calc(100 / 768));
  }

  @include pc {
    font-size: calc(10vw * calc(100 / 1920));
  }
}

body {
  background-color: $white-brown;
  color: $brown;
  font-family: $zen-maru-gothic;
  font-weight: 500;
}

a,
img {
  display: block;
}

img {
  width: 100%;
  object-fit: cover;
}
