@use "./_mixins.scss" as *;
@use "./_variables.scss" as *;
@import './base.css';

html {
  font-size: calc(10vw * calc(100 / 375));

  @include tab {
    font-size: calc(10vw * calc(100 / 768));
  }

  @include pc {
    font-size: calc(10vw * calc(100 / 1920));
  }
}

body {
  background-color: $white;
  color: $black;
}